.all-in-one {
    background-color: $black;
    padding: 80px 0;
    border-top: 1px solid rgba(#cacaca, .5);
    border-bottom: 1px solid rgba(#cacaca, .5);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 850px) {
            flex-direction: column;
        }
    }

    &__title {
        font-size: 40px;
        line-height: 40px;
        color: $white;

        @media (max-width: 1024px) {
            font-size: 30px;
            line-height: 30px;
        }

        @media (max-width: 850px) {
            margin-bottom: 30px;
        }
    }
}