.btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 21px 31px;
    background-color: $white;
    outline: none;
    color: $black;
    cursor: pointer;
    transition: background-color .2s linear;
    &:hover {
        background-color: darken($white, 10%);
    }
}